<h1>My books</h1>

<p *ngIf="!(books$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New book</a>
</p>

<table class="table table-sm table-hover" *ngIf="(books$ | async)?.length>0">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Author</th>
      <th>Year</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of (books$ | async)">
      <td>{{ book.id }}</td>
      <td><a [routerLink]="['/book/', book.id]">{{ book.name }}</a></td>
      <td>{{ book.author }}</td>
      <td>{{ book.year }}</td>
      <td><a [routerLink]="['/book/edit/', book.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(book.id)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>
