<div class="col-md-6">
  <h2 class="text-center">Add/Edit Book</h2>
  <form [formGroup]="form" (ngSubmit)="save()">
    
    <div class="form-group">
      <label for="name">Book Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" formControlName="author" placeholder="author" name="author" class="form-control" id="author">
    </div>

    <div class="form-group">
      <label for="year">Year:</label>
      <input type="number" formControlName="year" placeholder="year" name="year" class="form-control" id="year">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success float-right">Save</button>
      <button class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
    </div>

  </form>
</div>
