
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Read books</h2>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New book</a>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search..." />
      </div>
    </div>
  </div>
</div>
<p *ngIf="!(books$ | async)"><em>Loading...</em></p>

<table class="table table-hover" *ngIf="(books$ | async)?.length>0">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Author</th>
      <th>Year</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of (books$ | async | booksFilter:searchTerm)">
      <td>{{ book.id }}</td>
      <td><a [routerLink]="['/book/', book.id]">{{ book.name }}</a></td>
      <td>{{ book.author }}</td>
      <td>{{ book.year }}</td>
      <td><a [routerLink]="['/book/edit/', book.id]" class="btn btn-outline-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(book.id)" class="btn btn-outline-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>
